*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
 /* Scroll Personalizado */
 ::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #0e0e0e;
}
  ::-webkit-scrollbar-thumb {
    background: rgb(3, 253, 16, 0.5);
    border-radius: 10px;
    transition: 0.5s;
}
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 253, 16);
} 
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgb(14, 14, 14), rgb(200, 200, 200));
}
/* Estilos comunes para el header */
.mainContent{
    height: 100%;
    width: 100%;
}
.headerContainer {
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    z-index: 101;
}
.headerContent {
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    height: 100%;
    width: 100%;
    color: #03fd10;
    font-size: 19px;
    margin-top: 25px;
}
/* Menú Normal */
.menuContainer {
    display: flex;
    gap: 20px;
}
.menuItem {
    margin-left: 3vw;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.menuItemLink {
    color: #fff;
    cursor: pointer;
    position: relative;
    text-decoration: none; 
    transition: color 0.5s ease;
}
.menuItemLink:hover {
    color: #03fd10;
}
/* Menú Hamburguesa (MOBILE ONLY) */
.menuHamburguer {
    display        : none;
    width          : 20%;
    height         : 20%;
    position       : absolute;
    right          : 20px;
    font-size      : 20px;
    border-radius  : 25%;
    display        : flex;
    cursor         : pointer;
    justify-content: center;
    align-items    : center;
}
.menuHamburguer:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
}
.line {
    position: absolute;
    background-color: #ffff;
    border-radius: 100%;
    transition: transform 0.5s ease; /* Agregada transición */
}
.line:first-child {
    top: 35%;
}
.line:nth-child(2) {
    top: 51%;
}
.line:last-child {
    top: 65%;
}
/* Girar las líneas para formar una "X" cuando se abre el menú */
#Hamburguer.open .line:nth-child(1) {
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
#Hamburguer.open .line:nth-child(2) {
    opacity: 0;
}
#Hamburguer.open .line:nth-child(3) {
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%) rotate(45deg);
}
/* Media query para pantallas móviles */
@media screen and (max-width: 800px) {
    .menuContainer {
        display: none;
    }

    .menuHamburguer {
        display: block;
        width: 40px; /* Ajuste del ancho del botón */
        height: 80%; /* Altura del botón */
        cursor: pointer;
        transition: all 100ms;
        border: 1px solid #ffff;
        background: rgba(3, 3, 3, 0.0);
        border-radius: 25%; /* Borde redondeado */
    }

    .menuHamburguer:hover span {
        background: rgb(0, 255, 13);
    }

    .menuHamburguer span {
        display: block;
        width: 15px;
        height: 1px;
        margin-left: 12px;
        background-color: #fff;

    }


    /* Estilos para el menú hamburguesa */

    #Menu {
        background-color: #0e0e0ef6;
        position: absolute;
        top: 8vh;
        width: 40%;
        padding-left: 5%;
        padding-top: 60px;
        height: 92vh;
        right: -100%;
        display: flex;
        flex-direction: column;
        transition: all 0.7s;
    }

    #Menu.open {
        right: 0;
    }

    .menuItem {
        margin-top: 3vh;
    }

    .menuItemLink {
        font-size: 1.5rem;
    }
}
/* Emcabezado */
.header {
    position: relative;
    height: 94vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden;   
}
.video-container {
    position               : relative;
    overflow               : hidden;
    background-position    : center center;
    background-repeat      : no-repeat;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    background-size        : cover;
}
#headerVideo {
    position         : absolute;
    min-width        : 100%;
    min-height       : 100%;
    width            : 100%;
    height           : 125%;
    top              : 50%;
    left             : 50%;
    object-fit       : cover;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform   : translate(-50%, -50%);
    -ms-transform    : translate(-50%, -50%);
    -o-transform     : translate(-50%, -50%);
    transform        : translate(-50%, -50%);
}
.overlay {
    position      : absolute;
    top           : 0;
    left          : 0;
    bottom        : 0;
    right         : 0;
    pointer-events: none;
    background    : rgba(0, 0, 0, 0.6);
}
.video-hero--content {
    height         : 100vh;
    color          : #ccc;
    display        : flex;
    flex-direction : column;
    text-align     : center;
    align-items    : center;
    justify-content: center;
    position       : relative;
}
.video-hero--content h1 {
    font-family: 'Nova Slim', sans-serif;
    font-size  : 120px;
    font-weight: 400;
    transition : 0.5s;
}
.video-hero--content h1:hover {
    -webkit-text-stroke: 5PX #ccc;
    color              : transparent;
}
.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Estilos para la sección de presentación */
#perfil .container {
    background-color: #0e0e0e;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 150px;
    width: 100%;
    margin: auto;
}
.color-acento {
    color: #03fd10;
}
#perfil .text .parrafos h2 {
    width: 50%;
}
#perfil .text {
    margin: 50px;
    margin-top: 180px;
}
#perfil .parrafos {
    width: 100%;
    padding: 8px;
    text-align: left;
    font-size: 19px;
}
#perfil .parrafos strong {
    padding:20px;
    text-align: left;
    width: 100%;
}
#perfil h2 {
    text-align: left;
    font-size: calc(0.5vw + 28px);
    font-weight: 900;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
    margin-top: 0px;
    font-size: 30px;
}
#perfil .img-container {
    height: 300px;
    width: 20%;
    border-radius: 30px;
    margin:50px;
    margin-top: 180px;
    background-image: url(../img/encabezado/control.webp);
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 800px) {
    #perfil .text .parrafos h2 {
        width: 50%;
    }
    #perfil .img-container {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    #perfil .img-container {
        display: none;
    }
    #perfil .text .parrafos h2 {
        width: 50%;
    }
}
/* Estilos generales del contenedor del carrusel */
#Portafolio2 {
    background-color: #0e0e0e;
    text-align: center;
    padding: 50px 0;
}
/* Estilos del carrusel */
.owl-carousel {
    width: 80%; /* Ajusta el ancho del contenedor del carrusel */
    margin: 0 auto;
    position: relative;
}
.owl-carousel .item {
    position: relative;
    margin: 0 auto;
    
}
/* Estilo para el fondo transparente */
.owl-carousel .item::before {
    border-radius: 30px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo transparente */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}
/* Estilo para mostrar el fondo transparente al pasar el cursor */
.owl-carousel .item:hover::before {
    opacity: 1; /* Hacer visible al pasar el cursor */
}
/* Estilos de las imágenes dentro de las diapositivas */
.owl-carousel .item img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
/* Estilos para las flechas de navegación */
.owl-nav {
    position: relative;
    top: -100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 100; /* Asegurar que las flechas estén por encima del contenido */
}
.owl-nav button {
    position: absolute; /* Hacer que los botones sean absolutos dentro del contenedor del carrusel */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    color: #03fd10; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100; /* Asegurar que las flechas estén por encima del contenido */
}
/* Estilos para las flechas de navegación */
.owl-prev {
    left: 10px; /* Posición izquierda del botón anterior */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%);
}
.owl-next {
    right: 10px; /* Posición derecha del botón siguiente */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%);
}
/* Estilos para los puntos de paginación */
.owl-dots {
    text-align: center;
    margin-top: 20px; /* Espacio entre las imágenes y los puntos */
    z-index: 2000;
}
.owl-dot {
    display: inline-block;
    width: 10px; /* Ancho del punto */
    height: 10px; /* Altura del punto */
    background-color: rgba(53, 52, 52, 0.8); /* Color de fondo semi-transparente */
    border-radius: 50%; /* Hacer el punto redondo */
    margin: 0 5px; /* Espacio entre los puntos */
    cursor: pointer;
}
.owl-dot.active {
    background-color: #03fd10; /* Color de fondo del punto activo */
}
/* Estilos para la sección de Picnosis */
.section {
    background-color: #272727;
    color: #fff;
    padding: 50px;
    text-align: center;
}
.intro {
    margin-bottom: 40px;
}
.intro h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.intro p {
    font-size: 18px;
    margin-bottom: 20px;
}
.features h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.features ul {
    list-style-type: none;
    padding: 0;
}
.features li {
    font-size: 16px;
    margin-bottom: 5px;
}
.features li:before {
    content: "\2022"; /* Agrega un punto negro */
    color: #03fd10; /* Color del punto */
    font-size: 20px;
    margin-right: 10px;
}
/* Estilos para la sección del trailer */
.trailer h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.trailer p {
    font-size: 18px;
    margin-bottom: 20px;
}
.trailer video {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(39, 39, 39, 0.5);
    border: 2px solid #272727;
}
.trailer video:hover {
    box-shadow: 0 0 20px rgba(0, 255, 21, 0.8);
    border: 2px solid #03fd10;
}
/* Estilos para la sección de descarga del juego */
.download_section {
    background-color: #272727;
    color: #fff;
    padding: 50px;
    text-align: center;
}
.options {
    margin-bottom: 20px;
    
}
.options button {
    border-radius: 8px;
    box-shadow: 0 0 20px #0e0e0e;
    background-color: #0e0e0e;
    color: #03fd10;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.options button a{
    color: #03fd10;
}
.options button:hover a{
    color: #0e0e0e;
}
.options button:hover {
    box-shadow: 0 0 20px #03fd10;
    background-color: #03fd10;
    color: #0e0e0e;
}
.info-box {
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #0e0e0e;
    box-shadow: 0 0 20px #0e0e0e;
}
.info-box:hover {
    border: 2px solid #03fd10;
    box-shadow: 0 0 20px #03fd10;
}
.info {
    display: block;
}
.info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.info p {
    font-size: 18px;
    margin-bottom: 10px;
}
.info ul {
    list-style-type: none;
    padding-left: 0;
}
.info ul li {
    font-size: 16px;
    margin-bottom: 5px;
}


/* Footer */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.logo1{
    height: 25%;
    width: 25%;
    top: 50px;
    padding: 20px;
    margin-bottom: 1rem;
}
.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #ffff;
    background-image: url(../img/iconos/FacebookBlanco.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: #03fd10;
    opacity: 0.7;
}
.social-icon:nth-of-type(2){
    background-image: url(../img/iconos/InstagramBlanco.webp);
}
.social-icon:nth-of-type(3){
    background-image: url(../img/iconos/DiscordBlanco.webp);
}
.social-icon:nth-of-type(4){
    background-image: url(../img/iconos/WhatsappBlanco.webp);
}
.social-icon:nth-of-type(5){
    background-image: url(../img/iconos/YoutubeBlanco.webp);
}
.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}
.menu-item a{
    color: #fff;
    margin: 1rem 1.5rem;
    cursor: pointer;
}
.menu-item a:hover{
    color: #03fd10;
}
.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}
footer .wave{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(../img/footer/wave.webp); 
    background-size: 1000px 100px;
}
footer .wave #wave1{
    z-index: 98;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave #wave2{
    z-index: 97;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}
footer .wave #wave3{
    z-index: 98;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave #wave4{
    z-index: 97;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
@media (max-width: 800px){
    .logo1{
        height: 50%;
        width: 50%;
    }
    .social-icon{
        height: 40px;
        width: 40px;
    }
    .copyright{
        width: 100%
}
}
@media (max-width: 400px){
    .logo1{
        height: 50%;
        width: 50%;
    }
    .social-icon{
        height: 40px;
        width: 40px;
    }
    .copyright{
        width: 100%
    }
}